{% extends "navbar_not_logged_in.html" %}

{% block title %}Home page{% endblock %}
{% block content %}
  {% with messages = get_flashed_messages() %}
    {% if messages  %}
      {% for msg in messages: %}
        <p>{{msg}}</p>
      {% endfor %}
    {% endif %}  
  {% endwith %}
<h1>Welcome!</h1>
<p>
  This is chess database for team matches. You can search the database. 
  Or you can login, which grants you access to uploading PGN's and seeing more
  information about the matches, such as games that are related to you.
</p>
{% endblock %}